:root {
    --navText: 1.7rem; 
    --mediumText: 1.5rem;
    --smallText: 1.1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.shoeIcon {
    position: relative;
    left: 2vw;
    top: 1vh;
    width: 5vw;
    height: 5vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2vw;
    height: 10vh;
    border: 2px solid;
    border-radius: 20px;
    background-color: #6FCF97;
}

nav>ul>li {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    list-style: none;
    font-size: var(--navText);
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
nav>ul>li>a:hover {
    text-decoration: none;
    color: #29494A;
}

.centerCont {
    display: grid;
    justify-content: center;
}

.mainImg {
    display: flex;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 30vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 2px solid;
}

.mainImg>img {
    width: 100%;
    height: 100%;
}

.slideshow {
    position: relative;
    overflow: hidden;
    height: 40vh;
    width: 56vw;
}

.slide {
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    animation: 10s autoplay infinite ease-in-out;
}

@keyframes autoplay {
    0% {right: 0%}
    30% {left: 0%}
    70% {left: 0%}
    100% {left: -100%}
}

.slide > *:nth-child(1) {
    margin: 12px;
    animation-delay: 0s;
}

.slide > *:nth-child(2) {
    margin: 12px;
    animation-delay: 5s;
}

.slideshowCont {
    display: grid;
    grid-template-columns: 18vw 0.5vw 18vw 0.5vw 18vw;
    grid-template-rows: 8vh 1fr 4vh;
}

.secondTitle {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
}

.secondTitle > p {
    margin: 12px;
}

.titleText {
    font-size: var(--navText);
    margin: 0px;
}

.slideShoe1, .slideShoe2, .slideShoe3 {
    width: 17vw;
    height: 14vw;
    background-color: #f3f2f2;
    border: 8px solid  #f3f2f2;
    grid-row-start: 2;
}
.slideShoe1 {
    grid-column-start: 1;
}

.slideShoe2{
    grid-column-start: 3;
}

.slideShoe3 {
    grid-column-start: 5;
}

.gridContainer2 {
    margin-top: 0vh;
    display: grid;
    grid-template-columns: 22vw 13vw 1fr 13vw 1fr 13vw 1fr 13vw 22vw;
    grid-template-rows: auto 1fr;
    justify-content: center;
}

.thirdTitle {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 9;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.thirdTitle > p {
    margin: 12px;
}

.item1 {
    grid-column-start: 2;
    grid-row-start: 2;
}
.item2 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.item3 {
    grid-column-start: 6;
    grid-row-start: 2;
}

.item4 {
    grid-column-start: 8;
    grid-row-start: 2;
}

.item1, .item2, .item3, .item4 {
    background-color: #f3f2f2;
    border: 8px solid  #f3f2f2;
}

.oxfords1, .oxfords2, .oxfords3, .oxfords4 {
    width: 12vw;
    height: 10vw;
}

/*nyheter.html*/
.newsSlide {
    position: relative;
    border: 4px solid;
    width: 60vw;
    height: 40vw;
}

.slideCont {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

.slideCont > img {
    width: 100%;
    height: 100%;
}

.dots {
    text-align: center;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 12px;
    display: inline-block;
    transition: background-color 0.6 ease;
}

.active {
    background-color: #29494A;
}

@-webkit-keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
}

.newsGridCont {
    display: grid;
    grid-template-columns: 22vw 18vw 1fr 18vw 1fr 18vw 22vw;
    grid-template-rows: 8vh 1vh 1fr 1vh 1fr;
}

.newsTextCont {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 7;
    margin-bottom: 0px;
}
.newsTextCont > p {
    margin: 12px;
}

.popShoe1, .popShoe2, .popShoe3, .popShoe4, .popShoe5, .popShoe6 {
    width: 17vw;
    height: 14vw;
    background-color: #f3f2f2;
    border: 8px solid  #f3f2f2;
}

.popShoe1 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.popShoe2 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.popShoe3 {
    grid-column-start: 6;
    grid-row-start: 3;
}

.popShoe4 {
    grid-column-start: 2;
    grid-row-start: 5;
} 

.popShoe5 {
    grid-column-start: 4;
    grid-row-start: 5;
}

.popShoe6 {
    grid-column-start: 6;
    grid-row-start: 5;
}

/*skor.html*/

.shoesNavCont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.shoesNavCont > div {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.shoesNavCont > div > a {
    color: black;
    text-decoration: none;
    margin: 2vw;
}

.shoesGridCont {
    display: grid;
    grid-template-columns: 1fr 15vw 0.5vw 15vw 0.5vw 15vw 0.5vw 15vw 0.5vw 15vw 1fr;
    grid-template-rows: 8vh 1vh 1fr 1vh 1fr 8vh;
}

.shoesTextCont {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    text-align: center;
    margin-bottom: 0px;
    grid-column-start: 2;
    grid-column-end: 11;
}

.shoesTextCont > p {
    margin: 12px;
}

.shoesGridCont > img {
    width: 14vw;
    height: 15vw;
    background-color: #f3f2f2;
    border: 8px solid  #f3f2f2;
}

.shoe1 {
    grid-column-start: 2;
    grid-row-start: 3;
}
.shoe2 {
    grid-column-start: 4;
    grid-row-start: 3;
}
.shoe3 {
    grid-column-start: 6;
    grid-row-start: 3;
}
.shoe4 {
    grid-column-start: 8;
    grid-row-start: 3;
}
.shoe5 {
    grid-column-start: 10;
    grid-row-start: 3;
}
.shoe6 {
    grid-column-start: 2;
    grid-row-start: 5;
}
.shoe7 {
    grid-column-start: 4;
    grid-row-start: 5;
}
.shoe8 {
    grid-column-start: 6;
    grid-row-start: 5;
}
.shoe9 {
    grid-column-start: 8;
    grid-row-start: 5;
}
.shoe10 {
    grid-column-start: 10;
    grid-row-start: 5;
}


/*butiker.html*/
.butikerGrid1 {
    display: grid;
    grid-template-columns: 10vw 25vw 10vw 50vw 5vw;
    margin-top: 5vh;
}

.butikerGrid1 > div {
    grid-column-start: 2;  
}

.imgMap1 {
    width: 50vw;
    height: 28vw;
    grid-column-start: 4;
    border: 2px solid;
    border-radius: 50px;
}

.butikerGrid2 {
    display: grid;
    grid-template-columns: 5vw 50vw 10vw 25vw 10vw;
    margin-top: 12vh;
}

.butikerGrid2 > div {
    grid-column-start: 4;
}

.imgMap2 {
    width: 50vw;
    height: 28vw;
    grid-column-start: 2;
    border: 2px solid;
    border-radius: 50px;
}

.boldText {
    font-weight: bold;
    font-size: var(--mediumText);
    margin: 0vw;
}

.smallText {
    font-size: var(--smallText);
    margin: 10px;
}

/* om_oss.html*/
.omOssGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 20vw 60vw 20vw;
}

.omOssTitle {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    grid-column-start: 2;
}

.omOssTitle > p {
    margin: 12px;
}

.omOssText {
    text-align: justify;
    grid-column-start: 2;
}

.opinionGrid {
    display: grid;
    grid-template-columns: 10vw 16vw 1fr 16vw 1fr 16vw 1fr 16vw 10vw;
    grid-template-rows: auto 1fr;
}

.opinionTitle {
    
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.opinionTitle > p {
    margin: 12px;
}

.opinion1, .opinion2, .opinion3, .opinion4 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 2px dotted;
    border-radius: 40px;
    height: 37vh;
}

.opinion1 {
    grid-column-start: 2;
    grid-row-start: 2;
} 

.opinion2 {
    grid-column-start: 4;
    grid-row-start: 2;
} 

.opinion3 {
    grid-column-start: 6;
    grid-row-start: 2;
} 

.opinion4 {
    grid-column-start: 8;
    grid-row-start: 2;
}

.opinionUser {
    font-weight: bold;
    font-size: var(--mediumText);
    margin: 12px;
}

.opinionText {
    margin: 12px;
}

.opinionImg {
    width: 16vw;
}

footer {
    margin-top: 10vh;
    background-color: #6FCF97;
    text-align: center;
    font-size: var(--smallText);
    height: 20vh;
}