:root {
    --navText: 1.7rem; 
    --mediumText: 1.5rem;
    --smallText: 1.1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.shoeIcon {
    position: relative;
    left: 2vw;
    width: 4vw;
    margin: 1vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2vw;
    border: 1px solid;
    border-radius: 20px;
    background-color: #6FCF97;
}

nav>ul>li {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    list-style: none;
    font-size: var(--navText);
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
nav>ul>li>a:hover {
    text-decoration: none;
    color: #29494A;
}

.centerCont {
    display: grid;
    justify-content: center;
}

.slideshow {
    display: flex;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 30vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 2px solid;
}

.slideshow>img {
    width: 100%;
    height: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 22vw 18vw 1fr 18vw 1fr 18vw 22vw;
    grid-template-rows: 8vh 1fr;
}

.secondTitle {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    height: 6vh;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 7;
}

.titleText {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.item1 {
    grid-column-start: 2;
    grid-row-start: 2;
}
.item2 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.item3 {
    grid-column-start: 6;
    grid-row-start: 2;
}

.item4 {
    grid-column-start: 8;
    grid-row-start: 2;
}

.item1, .item2, .item3, .item4 {
    background-color: #f3f2f2;
    border: 8px solid  #f3f2f2;
}

#popularShoe1, #popularShoe2, #popularShoe3 {
    width: 17vw;
    height: 14vw;
}

.gridContainer2 {
    display: grid;
    grid-template-columns: 22vw 13vw 1fr 13vw 1fr 13vw 1fr 13vw 22vw;
    grid-template-rows: auto 1fr;
    justify-content: center;
}

.thirdTitle {
    border: 2px solid;
    border-radius: 12px;
    background-color: #6FCF97;
    height: 6vh;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 9;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.oxfords1, .oxfords2, .oxfords3, .oxfords4 {
    width: 12vw;
    height: 10vw;
}

.omOssGrid1 {
    display: grid;
    grid-template-columns: 10vw 25vw 10vw 50vw 5vw;
    margin-top: 5vh;
}

.omOssGrid1 > div {
    grid-column-start: 2;  
}

.imgMap1 {
    width: 50vw;
    height: 25vw;
    grid-column-start: 4;
    border: 2px solid;
    border-radius: 50px;
}

.omOssGrid2 {
    display: grid;
    grid-template-columns: 5vw 50vw 10vw 25vw 10vw;
    margin-top: 12vh;
}

.omOssGrid2 > div {
    grid-column-start: 4;
}

.imgMap2 {
    width: 50vw;
    height: 25vw;
    grid-column-start: 2;
    border: 2px solid;
    border-radius: 50px;
}

.boldText {
    font-weight: bold;
    font-size: var(--mediumText);
    margin: 0vw;
}

.smallText {
    font-size: var(--smallText);
    margin: 10px;
}

footer {
    margin-top: 40vh;
    background-color: #6FCF97;
    text-align: center;
    font-size: 18px;
    height: 10ch;
}